@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

/* 自定义滚动条的宽度和圆角 */
::-webkit-scrollbar {
  width: 8px; /* 设置滚动条的宽度 */
}

::-webkit-scrollbar:horizontal {
  height: 8px; /* 水平滚动条高度 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #82a6cc; /* 滑块颜色 */
  border-radius: 4px; /* 滑块圆角 */
}


// main-container global css
.app-container {
  padding: 20px;
}
//居中
.flex-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.margin-top-20px{
  margin-top: 20px;
}
